body{
	padding: 0;
    margin: 0;
}

.header {
	display: flex;
    position: fixed;
    z-index: 9999;
    top: 0;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 78px;
    background: #fff;
}



/**profile*/
.profileDiv {
    background-image: url(./image/bgMain2.png);
}

.profile {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


.profile.comment{
    top: 200px;
    margin-left: calc(50% - 300px);
    width: 50%;
}


.profile.bg {
	top: 100px;
    width: 513px;
    height: 550px;
    margin-left: calc(50% - 100px);
    background-image: url(./image/bg04.png);
    -webkit-background-size: 513px 550px;
    background-size: 513px 550px;
}

.profile.userPhoto {
    top: 100px;
    width: 513px;
    height: 550px;
    margin-left: calc(50% - 100px);
    background-image: url(./image/userPhoto.png);
    -webkit-background-size: 513px 550px;
    background-size: 513px 550px;
    z-index: 100;
}



/**history*/ 
.history .img {
    background-image: url(./image/history.png);
    height: 100%;
    background-repeat: no-repeat;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}